<h1>Welcome to my project</h1>

ASP.NET MVC
ASP.NET supports three major development models: Web Pages, Web Forms and MVC (Model View Controller). ASP.NET MVC framework is a lightweight, highly testable presentation framework that is integrated with the existing ASP.NET features, such as master pages, authentication, etc. Within .NET, this framework is defined in the System.Web.Mvc assembly. The latest version of the MVC Framework is 5.0. We use Visual Studio to create ASP.NET MVC applications which can be added as a template in Visual Studio.

<h1>Feedback</h1>
<form action="AddDetails" method="post">
	First Name<input type="text" name="firstName1" placeholder="Enter Name">
	<br>
	Last Name<input type="text" name="secondName1">
	<br>
	MSG<textarea  name="msg1">

	</textarea>
	<br />
	<input type="submit">
</form>