<h1>Calculator</h1>


<form action="Sum" method="post">

    <label>No1</label> <input type="number"    name="a"/>
    <br />
     <label>No2</label> <input type="number"  name="b" />
    <br />
    <input type="submit" />
 </form>
