<h1>Welcome</h1>


<form action="AddDetails" method="post">

    <label>Name</label> <input type="text"    name="studnetName"/>
    <br />
     <label>RollNo</label> <input type="number"  name="rollNo" />
    <br />
    <input type="submit" />
</form>